[submodule "bsp/submodule/module_shift_register"]
	path = bsp/submodule/module_shift_register
	url = git@github.com:Vadimatorik/module_shift_register.git
[submodule "bsp/submodule/module_microsd_low_level_driver"]
	path = bsp/submodule/module_microsd_low_level_driver
	url = git@github.com:Vadimatorik/module_microsd_low_level_driver.git
[submodule "bsp/submodule/module_lcd_driver"]
	path = bsp/submodule/module_lcd_driver
	url = git@github.com:Vadimatorik/module_lcd_driver.git
[submodule "bsp/submodule/module_digital_potentiometer"]
	path = bsp/submodule/module_digital_potentiometer
	url = git@github.com:Vadimatorik/module_digital_potentiometer.git
[submodule "bsp/submodule/module_chiptune"]
	path = bsp/submodule/module_chiptune
	url = git@github.com:Vadimatorik/module_chiptune.git
[submodule "bsp/module_system_dummy"]
	path = bsp/module_system_dummy
	url = git@github.com:Vadimatorik/module_system_dummy.git
