[submodule "bsp/submodules/module_shift_register"]
	path = bsp/submodules/module_shift_register
	url = git@github.com:Vadimatorik/module_shift_register.git
[submodule "bsp/submodules/module_microsd_low_level_driver"]
	path = bsp/submodules/module_microsd_low_level_driver
	url = git@github.com:Vadimatorik/module_microsd_low_level_driver.git
[submodule "bsp/submodules/module_lcd_driver"]
	path = bsp/submodules/module_lcd_driver
	url = git@github.com:Vadimatorik/module_lcd_driver.git
[submodule "bsp/submodules/module_digital_potentiometer"]
	path = bsp/submodules/module_digital_potentiometer
	url = git@github.com:Vadimatorik/module_digital_potentiometer.git
[submodule "bsp/submodules/module_chiptune"]
	path = bsp/submodules/module_chiptune
	url = git@github.com:Vadimatorik/module_chiptune.git
[submodule "bsp/module_system_dummy"]
	path = bsp/module_system_dummy
	url = git@github.com:Vadimatorik/module_system_dummy.git
[submodule "bsp/submodules/module_fatfs_by_chan"]
	path = bsp/submodules/module_fatfs_by_chan
	url = git@github.com:Vadimatorik/module_fatfs_by_chan.git
[submodule "bsp/submodules/module_makise_gui"]
	path = bsp/submodules/module_makise_gui
	url = git@github.com:Vadimatorik/module_makise_gui.git
[submodule "bsp/submodules/module_makise_gui_elements_by_vadimatorik"]
	path = bsp/submodules/module_makise_gui_elements_by_vadimatorik
	url = git@github.com:Vadimatorik/module_makise_gui_elements_by_vadimatorik.git
[submodule "bsp/submodules/module_mc_hardware_interfaces"]
	path = bsp/submodules/module_mc_hardware_interfaces
	url = git@github.com:Vadimatorik/module_mc_hardware_interfaces.git
[submodule "bsp/submodules/module_freertos_for_stm32f4"]
	path = bsp/submodules/module_freertos_for_stm32f4
	url = git@github.com:Vadimatorik/module_freertos_for_stm32f4.git
[submodule "bsp/submodules/module_stm32f4_low_level_by_st"]
	path = bsp/submodules/module_stm32f4_low_level_by_st
	url = git@github.com:Vadimatorik/module_stm32f4_low_level_by_st.git
[submodule "bsp/submodules/module_system_dummy"]
	path = bsp/submodules/module_system_dummy
	url = git@github.com:Vadimatorik/module_system_dummy.git
[submodule "openocd_configs"]
	path = openocd_configs
	url = git@github.com:Vadimatorik/openocd_configs.git
[submodule "bsp/submodules/module_mc_hardware_interfaces_implementation_for_stm32"]
	path = bsp/submodules/module_mc_hardware_interfaces_implementation_for_stm32
	url = git@github.com:Vadimatorik/module_mc_hardware_interfaces_implementation_for_stm32.git
[submodule "bsp/submodules/module_wave_generators"]
	path = bsp/submodules/module_wave_generators
	url = git@github.com:Vadimatorik/module_wave_generators.git
[submodule "bsp/submodules/module_button"]
	path = bsp/submodules/module_button
	url = git@github.com:Vadimatorik/module_button.git
[submodule "user_code/submodules/lua"]
	path = user_code/submodules/lua
	url = git@github.com:Vadimatorik/lua.git
[submodule "user_code/submodules/module_run_time_logger"]
	path = user_code/submodules/module_run_time_logger
	url = git@github.com:Vadimatorik/module_run_time_logger.git
[submodule "bsp/submodules/git@github.com:Vadimatorik/module_chiptune.git"]
	path = bsp/submodules/git@github.com:Vadimatorik/module_chiptune.git
	url = git@github.com:Vadimatorik/module_digital_potentiometer.git
[submodule "bsp/submodules/openocd_configs"]
	path = bsp/submodules/openocd_configs
	url = git@github.com:Vadimatorik/openocd_configs.git
[submodule "bin_extractor"]
	path = bin_extractor
	url = git@github.com:Vadimatorik/bin_extractor.git
